body{
	background-color: #efefef;
}
.slide_phone div.active{
	animation: slide 1s both;
	display: block;
}

@keyframes slide{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.slide_phone{
	width: 100%;
	display: flex;
	overflow-x: hidden;
}
.slide_tiki{
	position: relative;
	max-width: 822px;
	max-height: 274px;
	margin-left: 52px;
}
.slide_phone_1{
	width: 100%;
	display: none;
}
.slide_phone_1 img{
	max-width: 822px;
	max-height: 274px;
}
.slide{
	display: flex;
	margin-top: 15px;
}
.icon_slide{
	width: 32px;
	height: 56px;
	position: absolute;
	top: 100px;
	cursor: pointer;
}
.ics_1{
	transform: rotateY(180deg);
}
.ics_2{
	right: 0px;
}
.slide_next{
	margin-left: 13px;
}
.slide_next img{
	width: 413px;
}
.category_tiki{
	display: flex;
	margin-left: 70px;
	overflow: hidden;
}
.category_tiki a{
	color: black;
	padding: 10px;
	font-size: 90%;
	font-weight: 400;
	opacity: 0.9;

}
.category_tiki img{
	width: 15px;
	height: 25px;
}
.category{
	background-color: rgb(255, 255, 255);
}